//brand fonnts
@import 'https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap';

//Brand Colors
$Red: #C6002B;
$Black: #000000;
$Grey: #939697;
$White: #FFFFFF;
$Blue: #2474c7;

$Display: 'Didact Gothic', sans-serif;
$Content: 'Didact Gothic', sans-serif;
