
//div wrapping data component
.dataDiv {
  display: grid;
  grid-area: "body";
  justify-content: center;
  padding-bottom: 50px;
  max-width: 80%;
  padding-left: 100px;
}

//entire table 
.table {
  width: 800px;
  border-collapse: collapse; 
  flex-wrap: nowrap;
  overflow: auto;
  overflow-x: auto;
  border: 2px solid #C6002B;
  height: 500px;
}
.answer {
  display: inline-flex;
}
.divdiv{
  display: flex;
  flex-direction: row;
  width: 100%;
}
//table header
.popSongs {
  text-align: center;
  justify-content: center;
  width: 100%;
}

//columns
th {
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.25));
}

//buttons wrapping columns
.tableButton {
  min-width: 200px;
 }

 //extra button info
button {
  height: 50px;
  width: 100px;
}

//rows
td {
  background-color: white;
  color: black;
  min-width: 200px;
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.25));
}

//span tags for table text
span {
max-width: 100px;
text-align: center;
}