
//fonts
@import 'https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap';

//Brand Colors (on other file

//imports
@import './data.scss';
@import './home.scss';
@import './seamus.scss';
@import './sideNav.scss';
//entire page
html {
  background-color: #939697;
}

//outer most GRID of React Component
.root {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5 ,1fr) ;
  grid-template-areas: 
  ". . . . . . . ."
  ". . . header . . ."
  ". . . buttons . . ."
  ". . . body body . . . "
  ". . . body body . . . "
  ". . . body body . . . "
  ". . . . . . . .";
}

//Parent-most div in React App
.appDiv{
  font-family: 'Didact Gothic', sans-serif;
  display: grid;
  justify-content: center;
}


//title
.welcome {
  font-weight: bold;
  font-size: 50px;
  justify-content: center;
  text-align: center;
}

.dataDiv {
  display: grid;
  grid-area: "body";
  justify-content: center;
  padding-bottom: 50px;
}
