
//fonts
@import 'https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap';

//Brand Colors (on other file

//entire page
html {
  background-color: #939697;
}
.root {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5 ,1fr) ;
  grid-template-areas: 
  ". . . . . . . ."
  ". . . header . . ."
  ". . . buttons . . ."
  ". . . body body . . . "
  ". . . body body . . . "
  ". . . body body . . . "
  ". . . . . . . .";
}

.appDiv{
  font-family: 'Didact Gothic', sans-serif;
  display: grid;
  justify-content: center;
}

.top-nav-container {
  // font-family: 'Didact Gothic', sans-serif;
  display: grid;
  justify-self: center;
  grid-area: "header";
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.side-nav-container {
  display: grid;
  grid-area: "buttons";
  align-items: center;
  justify-content: center;
}
.nav-bar{
  display: flex;
  padding-right: 60px;
  align-content: center;
}
.homeDiv {
  display: grid;
  grid-area: "body";
  // width: 200px;
  // align-items: center;
  justify-content: center;
  // width: 180px;
  text-align: center;
}

.homePtag {
  display: flex;
  justify-content: center;
  grid-area: "body";
   width: 250px;
  // align-items: center;
}

.dataDiv {
  display: grid;
  grid-area: "body";
  justify-content: center;
  padding-bottom: 50px;
}

.table {
  width: 800px;
  border-collapse: collapse; 
  // width:auto;
  flex-wrap: nowrap;
  overflow: auto;
  white-space: nowrap;
  overflow-x: auto;
  border: 2px solid #C6002B;
  height: 500px;
}

//header
th {
  // background-color:$PrimaryBrand;
  // min-width: 150px;
  height: 2.5rem;
  text-align: center; 
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.25));
}
tbody {
  max-width: 100px;
}

td {
  background-color: white;
  color: black;
  table-layout: fixed; 
  width: 100px;
  // min-width: 30px;
  // max-width: 100px;
  // text-align: center;
  // font-family: $Content;
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.25));
}
span {
max-width: 100px;
text-align: center;
}

tr {
  max-width: 100px;
}

.tableButton {
 min-width: 200px;
}

.seamusDiv {
grid-area: "body";
justify-content: center;
display: grid;
}

.mainButton {
  background-color: #C6002B;
  color: white;
  border-radius: 20px;
  font-family: 'Didact Gothic', sans-serif;
  // border: none;
}

.btnLink {
  padding-left: 20px;
  // padding-right: 20px;
}
.welcome {
  font-weight: bold;
  font-size: 50px;
}

.popSongs {
  text-align: center;
  justify-content: center;
}

button {
  height: 50px;
  width: 100px;
}